{%- if settings.collection_promo_banner -%}
<div class="collection-promotion-wrapper">
  <div class="pattern">
    <div class="collection-promotion clearfix">
      {%- if settings.collection_promo_banner -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}