<div id="shopify-block-0581171620572731100" class="shopify-block shopify-app-block">
    <script type="lazyload_int" data-src="https://main-app.production.bolide.io/js/services/recently_product/index.js"></script>
    <script type="lazyload_int" data-src="https://main-app.production.bolide.io/js/upsell-cross-sell?shop=thirteen-fifty-apparel.myshopify.com" data-is-extension="1"></script>
    <script type="lazyload_int">    
        window.bolideaiIntegrations = JSON.parse('{}');    
    </script>
</div>
