{%- if section.settings.payment_image != blank -%}
<div class="payment-image">
  <img class="lazyload" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src="{{- section.settings.payment_image | img_url: "master" -}}" />
</div>
{%- endif -%}