/* PageFly Element Styles */
						.xZJws { display: block; }
.xZJws .pf-countdown__inner { display: flex; text-align: center; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-31139efd > div > div > span {
		font-size: 43px;
		 line-height: 1em;
		 background-color: rgb(255, 255, 255);
		 padding-left: 10px;
		 padding-right: 10px;
		 margin-right: 100px;
		 margin-left: 0px;
		 font-family: Aldrich;
	}
	.__pf .pf-31139efd > div > div > label {
		margin-top: 5px;
		 margin-bottom: 0px;
		 font-size: 34px;
		 line-height: 1em;
		 font-family: Aldrich;
		 padding-left: 0px;
	}
	.__pf .pf-8a663113 {
		margin-top: -92px;
	}
	.__pf .pf-8b98a9ed {
		margin: 0px;
	}
	.__pf .pf-65799f4b {
		font-family: "Barlow Condensed";
		 font-size: 68px;
		 text-align: center;
		 margin-top: 127px;
	}
	.__pf .pf-9f4b73ee {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -103px;
	}
	.__pf .pf-efc9402e {
		width: 300px;
		 height: auto;
		 padding-left: 0px;
		 margin-left: 391px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-31139efd > div > div > label {
		font-size: 41px;
	}
	.__pf .pf-8b98a9ed {
		font-size: 8px;
	}
	.__pf .pf-8a663113 {
		margin-top: -45px;
	}
	.__pf .pf-65799f4b {
		font-size: 18px;
		 margin-top: 98px;
	}
	.__pf .pf-9f4b73ee {
		margin-left: 1px;
		 margin-top: -109px;
		 padding-top: 2px;
		 padding-bottom: 0px;
	}
	.__pf .pf-efc9402e {
		margin-left: 118px;
		 width: 120px;
		 height: auto;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-9f4b73ee {
		margin-top: -120px;
	}
	.__pf .pf-efc9402e {
		width: 120px;
		 height: auto;
		 margin-left: 491px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-65799f4b {
		font-size: 51px;
		 margin-top: 20px;
	}
	.__pf .pf-9f4b73ee {
		margin-top: -30px;
	}
	.__pf .pf-efc9402e {
		margin-left: 293px;
		 width: 120px;
		 height: auto;
	}
}
						