
@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/oswald/oswald_n4.a5ee385bde39969d807f7f1297bf51d73fbf3c1e.woff2?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=d14b9d7d69e7faf76c889e5d3d86a730d78c63f16b6cc57375b5c9720889fbbe") format("woff2"),
       url("https://fonts.shopifycdn.com/oswald/oswald_n4.8f3e284746fbc2d29e34993609c51fdc432b0b24.woff?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=b911045f1db6a64724dcfde6be57c6fd3e4369d183f0778dcd1e6d9da8f53cc0") format("woff");
}
@font-face {
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/oswald/oswald_n7.f71e68b857a7b8128a7629452b9c6bf9468356a7.woff2?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=4c3336f02e0915eb5ddb45725bfbc781aeb0c71508e8888fece33140dd3ce2f6") format("woff2"),
       url("https://fonts.shopifycdn.com/oswald/oswald_n7.2767cc6e7cfc91284caa2c06eb07eca21a27681e.woff?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=9d1ecff406afb9740645c6ce5392647f65d5e15173a324a559cba22bc5ab2676") format("woff");
}

@font-face {
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/oswald/oswald_n7.f71e68b857a7b8128a7629452b9c6bf9468356a7.woff2?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=4c3336f02e0915eb5ddb45725bfbc781aeb0c71508e8888fece33140dd3ce2f6") format("woff2"),
       url("https://fonts.shopifycdn.com/oswald/oswald_n7.2767cc6e7cfc91284caa2c06eb07eca21a27681e.woff?h1=dGhpcnRlZW5maWZ0eWFwcGFyZWwuY29t&h2=MTM1MGFwcGFyZWwuY29t&hmac=9d1ecff406afb9740645c6ce5392647f65d5e15173a324a559cba22bc5ab2676") format("woff");
}




html,body { 
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100vh; 
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body { 
  font-family:  Oswald, sans-serif;
  font-size:  14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
button {
  font-family:  Oswald, sans-serif;
  font-weight: 500;
  height: 40px;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 10px 20px;
  appearance: none;
}
.group-input input {
  font-family:  Oswald, sans-serif;
  font-weight: 500;
  height: 40px;
  border: none;
  margin-right: 10px;
  outline: none;
  text-transform: uppercase;
  padding: 10px 20px;
  min-width: 200px;
}
.password-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 20px;
}
.heading {
  font-size: 50px;
  padding: 40px 0 30px 0;
}
.caption {
  font-size: 25px;
  padding-bottom: 30px;
}
.heading.form-heading {
  font-size: 25px;
  padding: 0 0 20px 0
}
.password-content {
  max-width: 1024px;
  padding: 0 20px 
} 
.password__input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-content form {
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  margin: 0 auto;
}
.newsletter-terms-conditions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 1px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.custom-checkbox a {
  color: #000;
}
.button-disabled {
  pointer-events: none;
  opacity: 0.5
}
span.countdown-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
span.countdown-section {
  display: inline-flex;
  padding: 1em;
  flex-flow: column;
  font-size: 25px;
  font-weight: 500;
}
span.countdown-period {
  font-size: 13px;
  margin-top: 10px;
}
.password-countdown.is-countdown {
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
div#weketing_google_translate_element {
    display: none;
}
.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -20px
}
.notice-close svg,
.social-icons svg {
  width: 20px;
  height: 20px;
  z-index: 2;
}
.header-notice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  padding: 0 20px;
}
.social-icons a  {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dee2e6 !important;
  position: relative
}
.social-icons a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
@media(max-width: 767px){
  .heading{
    font-size: 30px
  }
  .caption{
    font-size: 18px
  }
  .heading.form-heading {
    font-size: 16px
  }
}