<div id="content" class="col-auto center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-about-area">
        <div class="page-about-section">
          {%- section "page-about-section" -%}
        </div>
      </div>
    </div>
  </div>
</div>